.player{
    width: 300px ;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    >span{
        font-size: 32px;
        margin-left: 16px;
    }
    background-color: rgba(173, 169, 163, 0.845);
    >img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100% ;
    }
}

.player-active {
    background-color: orange !important;
}